* {
  box-sizing: border-box;
}

body {
  margin: 0;

  color: #fff;
  font-family: Roboto, sans-serif;

  background-color: #08020d;
}

h1,
h2,
h3,
ul,
p,
hr {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.mrg-25-0-20-0 {
  margin: 25px 0 20px 0;
}

.mrg-25-0-40-0 {
  margin: 25px 0 40px 0;
}

.mrg-100-0-50-0 {
  margin: 100px 0 50px 0;
}

.mrg-b-25 {
  margin-bottom: 25px;
}

.mrg-b-30 {
  margin-bottom: 30px;
}

.mrg-b-50 {
  margin-bottom: 50px;
}

.mrg-0-21 {
  margin: 0 21px;
}

.mrg-10-0-40-0 {
  margin: 10px 0 40px 0;
}

.main-title {
  font-size: 60px;
}

.title-block {
  font-size: 38px;
}

.title-body {
  font-weight: 400;
  font-size: 30px;
}

.v-a-middle {
  vertical-align: middle;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.flex-column {
  flex-flow: column wrap;
}

.grid-container {
  display: grid;
  align-items: center;
}

.form-input {
  padding: 17px 20px;

  font-weight: 700;
  font-size: 14px;

  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.form-input::placeholder {
  color: #fff;
}

.btn {
  padding: 20px;

  color: #fff;
  font-size: 14px;

  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.font-s-12 {
  font-size: 12px;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.violet-bgcolor {
  background-color: #5328a1;
}

.darkorange-bgcolor {
  background-color: #95390c;
}

.orange-color {
  color: #f89202;
}

.grey-color {
  color: #555;
}

.ligthgray-color {
  color: #b8b8b8;
}

.header-areas {
  justify-content: space-between;
  padding: 25px 0 0;
}

.nav-area {
  margin: 0 335px 0 100px;
}

.nav-area a {
  color: #808080;
  text-decoration: none;
}

.nav-area a.active-link {
  color: #fff;
}

.header-nav {
  font-weight: 700;
  font-size: 11px;
}

.header-nav-element {
  display: inline-block;
  margin-right: 40px;
}

.header-nav-element:last-child {
  margin-right: 0;
}

.search-area input::placeholder {
  color: #808080;
  text-transform: uppercase;
}

.search-input {
  width: 280px;
  padding: 8px 14px;

  color: #fff;
  font-weight: 700;
  font-size: 11px;

  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
}

.logo-area a {
  color: #fff;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.logo-text {
  font-weight: 700;
  font-size: 11px;
}

.album-header,
.author-header,
.news-header,
.app-header {
  padding: 100px 0 50px 0;
}

.poster-home {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}

.poster-home .poster-body {
  flex-flow: column;
  padding: 232px 0 248px 0;

  text-align: center;
}

.poster-form {
  grid-gap: 25px 30px;
  grid-template-areas: "name email" "button button";
  width: 570px;
}

.name-box {
  grid-area: name;
}

.email-box {
  grid-area: email;
}

.btn-form {
  grid-area: button;

  font-weight: 700;

  background-color: #34c176;
}

.upper-block {
  padding: 100px 0 0 0;
}

.subscribes-container {
  gap: 75px;
}

.subscribers-header {
  padding-bottom: 50px;
}

.subscribe-1,
.subscribe-2,
.subscribe-3 {
  flex: 0 1 350px;
  flex-flow: column;
  justify-content: space-between;
  height: 580px;
  padding: 25px 20px 65px 20px;

  border-radius: 8px;
}

.subscribe-1 h3,
.subscribe-2 h3,
.subscribe-3 h3 {
  font-weight: 400;
  font-size: 24px;
}

.subscribe-1 {
  background-image: url(../images/subscribe_1.png);
  background-size: cover;
}

.subscribe-2 {
  background-image: url(../images/subscribe_2.png);
  background-size: cover;
}

.subscribe-3 {
  background-image: url(../images/subscribe_3.png);
  background-size: cover;
}

.subs-body {
  margin-top: 210px;
}

.sub-price {
  margin: 0;

  font-size: 60px;
}

.sup-text {
  margin-left: 10px;

  font-size: 30px;
}

.btn-subs {
  margin: 40px 0;
  padding: 20px 80.5px;

  font-size: 24px;

  background-color: transparent;
  border: 4px solid #fff;
}

.subs-description {
  font-size: 11px;
}

.subs-additinfo {
  margin-top: 50px;

  font-size: 22px;
  text-align: center;
}

.news-container {
  gap: 60px;
}

.news-container:nth-child(1n+3) {
  margin-top: 70px;
}

.news-box,
.news-img-box {
  flex: 1 1 0;
}

.news-text {
  color: #8c8c8c;
  font-size: 14px;
  line-height: 28px;
}

.avatar-img {
  width: 20px;
  margin-right: 20px;
}

.btn-news {
  display: block;
  width: 129px;
  height: 48px;
  padding: 16px 0;

  color: #8c8c8c;
  font-weight: 700;
  font-size: 12px;
  text-align: center;

  border: 1px solid #e9e9e9;
}

.lower-block {
  padding: 0 0 100px 0;
}

.app-container {
  gap: 60px;
}

.app-text-box {
  flex: 1 1 0;

  color: #8c8c8c;
}

.app-img-box {
  flex: 1 1 0;

  text-align: center;
}

.app-img {
  width: 295px;
}

.btn-dowland {
  display: block;
  width: 174px;

  text-align: center;

  background-color: #ff4157;
  border-radius: 50px;
}

.poster-catalog {
  background-image: url(../images/Morten.png);
  background-position: 70% 0;
  background-size: cover;
}

.poster-catalog .poster-body {
  padding: 237px 0 76px 0;
}

.poster-subheader {
  font-weight: 700;
  font-size: 30px;
}

.poster-addinfo {
  font-weight: 700;
  font-size: 18px;
}

.btn-catalog {
  width: 200px;

  text-align: left;
}

.btn-catalog:nth-child(1) {
  margin-right: 35px;
}

.btn-img {
  width: 16px;
  margin-right: 15px;
}

.btn-album {
  top: 215px;
  left: 15px;

  padding: 0;

  background-color: transparent;
  border: none;
}

.btn-img-album {
  width: 25px;
}

.track-container {
  gap: 25px 68px;
}

.tracks-header {
  padding-bottom: 50px;
}

.track-box {
  flex: 0 1 45%;
}

.cover {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.track-info {
  flex: 1;
  justify-content: space-between;
}

.track-name {
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 14px;
}

.track-author {
  color: #8c8c8c;
  font-size: 12px;
}

.track-time {
  color: #8c8c8c;
  font-size: 14px;
}

.card-box {
  gap: 50px;
  align-items: baseline;
}

.card-catalog {
  flex: 0 1 250px;
}

.card-info-album {
  margin-top: 10px;
}

.card-info-author {
  margin-top: 15px;

  text-align: center;
}

.album-name,
.author-name {
  margin-bottom: 10px;

  font-size: 20px;
}

.footer {
  background: linear-gradient(94.76deg, #5328a1 36.51%, #95390c 74.64%);
}

.footer a,
.footer .height-nav {
  color: #cacaca;
}

.footer-height {
  align-items: baseline;
  justify-content: space-between;
  padding: 80px 0 100px 0;
}

.footer-low {
  padding: 50px 0;
}

.footer-headers {
  color: #cacaca;
  font-size: 18px;
}

.height-nav-element:first-child {
  padding-top: 30px;
}

.height-nav-element:nth-child(1n+2) {
  padding-top: 20px;
}

.networks a:nth-child(1n+2) {
  margin-left: 20px;
}

.line-footer {
  height: 1px;

  background-color: #eee;
  border: none;
}

.low-nav-element {
  display: inline-block;
}

.low-nav-element:nth-child(1n+2) {
  margin-left: 40px;
}

@media screen and (max-width: 1250px) {
  .nav-area {
    margin: 0 180px 0 70px;
  }

  .subscribes-container {
    flex-flow: row wrap;
    justify-content: center;
  }

  .poster-catalog .poster-body {
    padding: 237px 50px 76px 50px;
  }
}

@media screen and (max-width: 1200px) {
  .middle-block {
    padding: 0 20px;
  }

  .lower-block {
    padding: 0 20px 100px 20px;
  }

  .upper-block {
    padding: 100px 20px 0 20px;
  }

  .header-areas {
    padding: 25px 20px 0;
  }

  .news-container {
    flex-flow: column;
    gap: 20px;
    justify-content: center;
  }

  .news-img-box {
    order: 1;
  }

  .news-box {
    order: 2;
  }

  .subscribes-container {
    gap: 60px;
  }

  .footer-height,
  .footer-low {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 1025px) {
  .poster-catalog .poster-body {
    padding: 237px 20px 76px 20px;
  }

  .app-container {
    flex-flow: column;
    gap: 50px;
    align-items: center;
  }

  .app-text-box {
    max-width: 790px;
  }

  .app-img-box {
    order: -1;
  }

  .btn-dowland {
    width: 280px;
    margin: 0 auto;
  }

  .low-nav-element:nth-child(1n+2) {
    margin-left: 25px;
  }
}

@media screen and (max-width: 980px) {
  .header-areas {
    flex-flow: row wrap;
  }

  .subs-description {
    max-width: 300px;
  }

  .btn-news {
    width: 280px;
    height: 50px;
    padding: 18px 0;
  }

  .footer-height,
  .footer-low {
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 930px) {
  .footer-element {
    flex: 0 1 40%;
  }

  .footer-element:nth-child(1n+3) {
    margin-top: 40px;
  }
}

@media screen and (max-width: 900px) {
  .cards-box {
    justify-content: center;
  }
}

@media screen and (max-width: 829px) {
  .poster-home .poster-body {
    padding: 120px 20px 90px 20px;
  }

  .poster-catalog .poster-body {
    padding: 170px 20px 94px 20px;
  }

  .card-box {
    justify-content: center;
  }

  .subscribes-container {
    gap: 50px;
  }
}

@media screen and (max-width: 780px) {
  .main-title {
    font-size: 40px;
  }

  .title-block {
    font-size: 22px;
  }

  .logo-area,
  .search-area {
    order: 1;
  }

  .nav-area {
    flex: 0 1 100%;
    order: 2;
    margin: 20px 0 0 0;
    padding: 0;

    text-align: center;
  }

  .header-nav-element {
    display: inline-block;
    margin-right: 20px;
  }

  .subscribes-container {
    flex-flow: column;
  }

  .subscribe-1,
  .subscribe-2,
  .subscribe-3 {
    flex: 0 1 280px;
  }
}

@media screen and (max-width: 720px) {
  .search-area {
    display: flex;
    justify-content: flex-end;
  }

  .poster-home .poster-body {
    padding: 69px 20px 45px 20px;
  }

  .poster-catalog .poster-body {
    padding: 100px 20px 94px 20px;
  }

  .header-author {
    padding: 100px 0 72px 0;
  }

  .cover {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 660px) {
  .poster-form {
    grid-template-areas: "name" "email" "button";
  }

  .card-img {
    width: 210px;
  }

  .track-box {
    flex: 1 1 100%;
  }

  .track-box:nth-child(odd) {
    order: -1;
  }

  .low-nav-element:nth-child(1n+2) {
    margin-left: 15px;
  }
}

@media screen and (max-width: 600px) {
  .main-title {
    font-size: 30px;
  }

  .poster-form {
    width: 280px;
  }

  .poster-subheader {
    font-size: 18px;
  }

  .poster-catalog .poster-addinfo {
    font-size: 14px;
  }

  .poster-home .poster-addinfo {
    font-size: 12px;
  }

  .btn-catalog {
    width: 280px;
  }

  .btn-catalog:nth-child(1) {
    margin: 0 0 19px 0;
  }

  .news-box .mrg-b-50 {
    margin-bottom: 28px;
  }

  .news-box .avatar-img {
    width: 25px;
  }

  .news-container:nth-child(1n+3) {
    margin-top: 40px;
  }

  .card-catalog {
    flex: 0 1 130px;
  }

  .card-info-author {
    margin-top: 10px;
  }

  .album-name {
    margin-bottom: 5px;
  }

  .album-name,
  .author-name {
    font-size: 16px;
  }

  .album-year {
    font-size: 14px;
  }

  .fanbase {
    font-size: 12px;
  }
}

@media screen and (max-width: 560px) {
  .pdg-50-60 {
    padding: 30px;
  }

  .mrg-0-21 {
    margin: 0 42px;
  }

  .card-img {
    width: 180px;
  }

  .track-box:first-child {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  .title-block {
    font-size: 20px;
  }

  .subs-additinfo {
    font-size: 12px;
  }

  .news-header {
    padding: 44px 0 50px 0;
  }

  .app-header {
    padding: 90px 0 50px 0;
  }

  .news-img {
    width: 390px;
  }

  .footer-element {
    flex: 0 1 100%;
  }

  .footer-element:nth-child(2) {
    margin-top: 40px;
  }

  .low-nav {
    flex-basis: 100%;
  }

  .low-nav-element {
    display: block;
  }

  .low-nav-element:nth-child(1n+2) {
    margin: 20px 0 0 0;
  }
}

@media screen and (max-width: 430px) {
  .header-areas {
    flex-flow: column;
    align-items: flex-start;
  }

  .search-area {
    margin: 17px 0 20px 0;
  }

  .nav-area {
    margin: 0;

    text-align: left;
  }

  .header-nav-element {
    display: block;
    margin-bottom: 10px;
  }

  .header-nav-element:last-child {
    margin: 0;
  }

  .card-img {
    width: 130px;
  }

  .btn-album {
    top: 110px;
    left: 5px;
  }

  .btn-img-album {
    width: 15px;
  }

  .networks a:nth-child(1n+2) {
    padding-left: 10px;
  }
}

@media screen and (max-width: 400px) {
  .subscribe-1,
  .subscribe-2,
  .subscribe-3 {
    height: 480px;
    padding: 20px 20px 15px 20px;
  }

  .subscribe-1 h3,
  .subscribe-2 h3,
  .subscribe-3 h3 {
    font-size: 16px;
  }

  .subs-body {
    margin-top: 167px;
  }

  .btn-subs {
    padding: 20px 80px;
  
    font-size: 12px;
  }

  .news-img {
    width: 280px;
  }

  .app-img {
    width: 280px;
  }

  .card-box {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 340px) {
  .card-box {
    gap: 50px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
