.footer {
 background: linear-gradient(94.76deg, #5328A1 36.51%, #95390C 74.64%);
 a, .height-nav {
   color: #cacaca;
 }
}
.height-footer {
  align-items: baseline;
  justify-content: space-between;
  padding: 80px 0 100px 0;
}
.low-footer {
  padding: 50px 0;
}
.headers-footer {
  font-size: 18px;
  color: #cacaca;
}
.height-nav {
  li:first-child {
    padding-top: 30px;
  }
  li:nth-child(1n+2) {
    padding-top: 20px;
  }
}
.networks {
  a:nth-child(1n+2) {
    margin-left: 20px;
  }
}
.line-footer {
  border: none;
  background-color: #eee;
  height: 1px;
}
.low-nav {
  li {
    display: inline-block;
  }
  li:nth-child(1n+2) {
    margin-left: 40px;
  }
}
