.header-position {
  top: 0;
  left: 0;
  right: 0;
}
.header-nav {
  font-size: 22px;	
  margin-left: 50px;
}
.header-nav li {
  display: inline-block;
}
.search-box {
  border-radius: 10px 0 0 10px;
  padding: 10px;
}
.search-img {
  border-radius: 0 10px 10px 0;
  width: 20px;
  height: 20px;
}
.logo {
  width: 20px;
  height: 20px;
}
