.header-logo {
  grid-area: h-logo;
}
.header-nav {
  grid-area: nav;
}
.header-nav li {
  display: inline-block;
}
.search-box {
  border-radius: 10px 0 0 10px;
  padding: 10px;
}
.search-img {
  border-radius: 0 10px 10px 0;
  width: 20px;
  height: 20px;
}
.logo {
  width: 20px;
  height: 20px;
  vertical-align: center;
}
