$btn-color: #fff;
@mixin bg-image($wayimage, $sizeimage) {
 background-image: url(#{$wayimage});
 background-size: $sizeimage;
}

// --------------------Index Styles-----------------------------------------------

// --------Banner styles----------------
.main-banner {
  @include bg-image("../images/banner.png", cover);
  background-position: center;
  padding: 200px 60px;
  div {
  text-align: center;
  }
}
.form-banner {
  grid-template-areas: "name email"
                       "button button";
  grid-gap: 25px 30px;
 & input {
 font-size: 14px;
 font-weight: 700;
 padding: 17px 20px;
 border-radius: 3px;
 background-color: rgba(255,255,255, 0.1);
 border: 2px solid rgba(255,255,255, 0.1);
 }
}
.name-box {
 grid-area: name;
}
.email-box {
 grid-area: email;
}
.btn-banner-main {
 grid-area: button;
 color: $btn-color;
 font-weight: 700;
 background-color: #34c176;
}

// --------Subscribes styles-----------
.form-subscribes {
 margin-top: 50px;
 sup {
 margin-left: 10px;
 }
}
%subscribes {
  height: 580px;
  flex: 0 1 30%;
  justify-content: space-between;
  padding: 25px 10px;
  border-radius: 8px;
  margin-bottom: 50px;
}
.subscribe-1 {
 @include bg-image("../images/subscribe_1.png", cover);
 @extend %subscribes;
}
.subscribe-2 {
 @include bg-image("../images/subscribe_2.png", cover);
 @extend %subscribes;
}
.subscribe-3 {
 @include bg-image("../images/subscribe_3.png", cover);
 @extend %subscribes;
}
.btn-subs {
 background-color: transparent;
 border: 4px solid #fff;
 color: $btn-color;
 margin: 40px 0;
 font-size: 24px;
}
.description-subs {
 font-size: 14px;
}
.additinfo-subs {
 font-size: 24px;
 text-align: center;
}

// --------News Styles-----------
.main-container {
 padding: 10px 0;
}
%flex-news-text {
 flex: 0 1 40%;
 padding: 25px;
}
%flex-news-img {
  flex: 0 1 30%;
  padding: 25px;
}
.img-news {
 @extend %flex-news-img;
 height: 360px;
}
.news {
 @extend %flex-news-text;
}
.btn-news {
 border: 1px solid #e9e9e9;
 color: #8c8c8c;
 font-size: 12px;
}

//--------Mobile app Info Styles------------
.mobile-text {
 flex: 0 1 50%;
 padding: 25px;
 > p {
  padding: 10px;
 }
}
.btn-dowland {
 background-color: #ff4157;
 border-radius: 50px;
 padding: 20px 80px;
}

//----------------Catalog page styles------------------------------------------------------------

//--------Banner Styles-----------
.catalog-banner {
  @include bg-image("../images/Morten.png", cover);
  background-position: center;
  padding: 200px 60px 30px 60px;
   h3 {
      font-size: 18px;
      margin-bottom: 50px;
    }
}
.btn-banner-catalog {
  padding: 20px;
  width: 200px;
  text-align: left;
  &:nth-child(1) {
    margin-right: 30px;
  }
}
.btn-img {
  width: 35px;
  padding-right: 10px;
}

//--------Main Styles-----------
.cover {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.track-info {
  vertical-align: middle;
}
.music-track-name {
  justify-content: space-between;
  flex: 1 1 80%;
}
.track-box {
  flex: 1 1 40%;
  margin-top: 20px;
  &:nth-child(2n+1) {
    margin-right: 60px;
  }
}
%cards {
  margin: 30px 25px 0 0;
  flex: 0 1 20%;
  > div {
    margin-top: 10px;
  }
}
 .album-card {
   @extend %cards
 }
 .cards-box {
   justify-content: flex-start;
 }
 .author-card {
   @extend %cards
 }
