$btn-color: #fff;
@mixin bg-image($wayimage, $sizeimage) {
 background-image: url(#{$wayimage});
 background-size: $sizeimage;
}
.banner {
  @include bg-image("../images/banner.png", cover);
  padding: 200px 0;
  h2 {
   margin: 10px;
  }
  h3 {
   margin: 40px 0 30px 0;
  }
}
.form {
  grid-template-areas: "name email"
                       "button button";
  grid-gap: 25px 30px;  
 & input {
 font-size: 14px;
 font-weight: 700; 
 padding: 17px 20px;
 border-radius: 3px;
 background-color: rgba(255,255,255, 0.1);
 border: 2px solid rgba(255,255,255, 0.1);
 }
}
.name-box {
 grid-area: name;
}
.email-box {
 grid-area: email;
}
.btn-banner {
 grid-area: button;
 color: $btn-color;
 font-weight: 700;
}

.header-subs {
 font-size: 38px;
 margin: 100px 0 50px 0;
}
.form-subscribes {
 flex-flow: row wrap;
 grid-gap: 75px; 
 sup {
 margin-left: 10px;
 }
}
%subscribes {
  height: 580px;
  flex: 0 1 25%; 
  justify-content: space-between;
  padding: 25px;
  border-radius: 3px;
}
.subscribe-1 {
 @include bg-image("../images/subscribe_1.png", cover);
 @extend %subscribes;
}
.subscribe-2 {
 @include bg-image("../images/subscribe_2.png", cover);
 @extend %subscribes;
}
.subscribe-3 {
 @include bg-image("../images/subscribe_3.png", cover);
 @extend %subscribes;
}
.btn-subs {
 background-color: transparent;
 border: 4px solid #fff;
 color: $btn-color;
 margin: 40px 0;
 font-size: 24px;
}
.description-subs {
 font-size: 11px;
 margin-bottom: 30px;
}
.additinfo-subs {
 font-size: 24px;
 text-align: center;
}

.news-container {
 flex-flow: row wrap;
}
%flex-news {
 flex: 1 1 40%;
 grid-gap: 40px;
}
.img-news, .news {
 @extend %flex-news;
}
