$subs-height: 580px;
$btn-color: #fff;
@mixin bg-image($wayimage, $sizeimage) {
 background-image: url(#{$wayimage});
 background-size: $sizeimage;
}
.banner {
  @include bg-image("../images/banner.png", cover);
  padding: 200px 0;
}
.banner-content h2 {
  margin: 10px;
}
.banner-content h3 {
  margin: 40px 0 30px 0;
}
.form {
  grid-template-areas: "name email"
                       "button button";
  grid-gap: 25px 30px; 
}
.name-box {
 grid-area: name;
}
.email-box {
 grid-area: email;
}
.form input {
 font-size: 14px;
 font-weight: 700; 
 padding: 17px 20px;
 border-radius: 3px;
 background-color: rgba(255,255,255, 0.1);
 border: 2px solid rgba(255,255,255, 0.1);
}
.btn-banner {
 grid-area: button;
 color: $btn-color;
}

.header-subs {
 font-size: 38px;
 margin: 100px 0 50px 0;
}
.form-subscribes {
 flex-flow: row wrap;
 grid-gap: 75px;
}
.subscribe-1 {
 @include bg-image("../images/subscribe_1.png", cover);
 height: $subs-height;
 flex: 0 1 30%;
}
.subscribe-2 {
 @include bg-image("../images/subscribe_2.png", cover);
 height: $subs-height; 
 flex: 0 1 30%;
}
.subscribe-3 {
 @include bg-image("../images/subscribe_3.png", cover);
 height: $subs-height; 
 flex: 0 1 30%;
}
.form-subscribes .subscribe-1, .subscribe-2, .subscribe-3 {
 justify-content: space-between;
 padding: 25px;
 border-radius: 3px;
}
.form-subscribes sup {
 margin-left: 10px;
}
.btn-subs {
 background-color: transparent;
 border: 4px solid #fff;
 color: $btn-color;
 margin: 40px 0;
}
