
@media screen and (max-width: 1250px) {
  .nav-area {
    margin: 0 120px 0 50px;
  }
  .form-subscribes {
    flex-flow: row wrap;
    justify-content: center;
  }
  .catalog-banner .body-banner {
    padding: 237px 50px 76px 50px;
  }
}
@media screen and (max-width: 1200px) {
  .header-areas {
    padding: 20px 20px 0;
  }
  .middle-block {
    padding: 0 20px;
  }
  .lower-block {
    padding: 0 20px 100px 20px;
  }
  .upper-block {
    padding: 100px 20px 0 20px;
  }
  .news-container {
    flex-flow: column;
    justify-content: center;
  }
  .img-news {
    order: 1;
    margin: 0 0 20px 0;
  }
  .news {
    order: 2;
  }
  .subscribe-2 {
    margin-right: 0;
  }
  .card-catalog:nth-child(1n+4) {
      margin: 50px 50px 0 0;
    }
  .height-footer, .low-footer {
    padding: 100px 20px;
  }
}
@media screen and (max-width: 1025px) {
//--------------------------------------------------------------------
.catalog-banner .body-banner {
  padding: 237px 20px 76px 20px;
}

  .low-nav {
    li:nth-child(1n+2) {
      padding-left: 25px;
    }
  }
  .body-mobile {
    flex-flow: column;
    align-items: center;
  }
  .mobile-img {
  order: -1;
 }
 .mobile-text {
   margin-right: 0;
   text-align: center;
 }
 .btn-dowland {
  width: 280px;
 }
}


@media screen and (max-width: 980px) {
//--------------------------------------------------------------------
  .header-areas {
    flex-flow: row wrap;
  }
//--------------------------------------------------------------------
  .description-subs {
    max-width: 300px;
  }
  .btn-news {
    padding: 20px 120px;
  }
 .height-footer, .low-footer {
   flex-flow: row wrap;
 }
 .music-track, .track-box, .track-info, .cards-box {
   flex-flow: row wrap;
 }
}


@media screen and (max-width: 930px) {
//-------------------------------------------------------
  .footer-element {
    flex: 0 1 40%;
    &:nth-child(1n+3) {
      margin-top: 40px;
    }
  }
  .mobile-img {
    margin-bottom: 50px;
  }
  }


@media screen and (max-width: 900px) {
  .cards-box {
    justify-content: center;
  }
}


@media screen and (max-width: 829px) {
//-----------------------------------------------------------------------------------------------------------------------------
.home-banner .body-banner {
    padding: 69px 20px 90px 20px;
  }
  .catalog-banner .body-banner {
    padding: 170px 20px 94px 20px;
  }
  .card-box {
    justify-content: center;
  }
}


@media screen and (max-width: 780px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 16px;
  }
  .logo-area, .search-area {
    flex: 0 1 40%;
    order: 1;
  }
  .nav-area {
    order: 2;
    flex: 0 1 100%;
    text-align: center;
    margin: 20px 0 0 0;
    padding: 0;
    li {
      display: inline-block;
      padding-right: 20px;
    }
  }
  .form-subscribes {
    flex-flow: column;
  }%subscribes {
    flex: 0 1 280px;
  }
  .subscribe-1, .subscribe-2 {
    margin-right: 0;
  }
  .mobile-text {
    text-align: center;
  }
}


@media screen and (max-width: 720px) {
  .search-area {
    display: flex;
    justify-content: flex-end;
  }
//--------------------------------------------------------------------
.home-banner .body-banner {
    padding: 69px 20px 45px 20px;
  }
  .catalog-banner .body-banner {
    padding: 100px 20px 94px 20px;
  }
  .header-author {
    padding: 100px 0 72px 0;
  }
  .cover {
    width: 50px;
    height: 50px;
  }
//-------------------------------------------------------
  .low-footer > p {
    margin-top: 100px;
  }
}


@media screen and (max-width: 660px) {
//---------------------------------------------------------------------------------------------------------------------------
  .form-banner {
    grid-template-areas: "name"
                         "email"
                         "button";
  }
//-------------------------------------------------------
  .low-nav {
    li:nth-child(1n+2) {
      padding-left: 15px;
    }
  }
//-------------------------------------------------------
  .imgs-catalog {
    width: 210px;
  }
  .track-box {
    flex: 1 1 100%;
    &:nth-child(2n+1) {
      margin-right: 0;
    }
  }
  .track-box:nth-child(1n+2) {
    margin-top: 25px;
}
}


@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 12px;
  }
  .btn-banner-main {
    width: 280px;
  }
  .catalog-banner h2 {
        font-size: 14px;
    }
    .btn-banner-catalog {
      width: 280px;
    &:nth-child(1) {
      margin: 0 0 19px 0;
    }
  }
 .card-catalog {
   flex: 0 1 130px;
   &:nth-child(2n + 1) {
   margin-right: 15px;
 }
 &:nth-child(2n + 2) {
 margin-right: 0;
}
 &:nth-child(1n + 3) {
 margin-top: 50px;
}
  }
  .album-name, .author-name {
    font-size: 16px;
  }
  .album-year {
    font-size: 14px;
  }
  .fanbase {
    font-size: 12px;
  }
 }

@media screen and (max-width: 560px) {
  .pdg-50-60 {
    padding: 30px;
  }
  .mrg-0-21 {
   margin: 0 42px;
  }
//-------------------------------------------------------
  .imgs-catalog {
    width: 180px;
  }
   .track-box:first-child {
     margin: 0;
   }
   .card-box {
     justify-content: flex-start;
   }
}

@media screen and (max-width: 500px) {
  h4 {
    font-size: 20px;
  }
  .mrg-0-28 {
    margin: 0 20px;
  }
//-------------------------------------------------------
  .additinfo-subs {
    font-size: 12px;
  }
  .header-news {
    padding: 44px 0 50px 0;
  }
  .header-mobile {
    padding: 90px 0 50px 0;
  }
  .img-news {
    height: 180px;
    width: 390px;
  }
//-------------------------------------------------------
  .footer-element {
    flex: 0 1 100%;
  }
  .footer-element:nth-child(2) {
    margin-top: 40px;
  }
  .low-nav {
    flex-basis: 100%;
    li {
      display: block;
    }
    li:nth-child(1n+2) {
      padding: 25px 0 0 0;
    }
  }
}


@media screen and (max-width: 430px) {
  .header-areas {
    flex-flow: column;
    align-items: flex-start;
  }
  .logo-area {
    order: 1;
  }
  .search-area {
    order: 2;
    margin: 20px 0;
  }
  .nav-area {
    order: 3;
    margin: 0;
    text-align: left;
    li {
      display: block;
      padding-bottom: 10px;
    }
  }
//-------------------------------------------------------
.imgs-catalog {
  width: 130px;
}
.card-catalog:nth-child(2n + 1) {
    margin-right: 105px;
}
//-------------------------------------------------------
  .networks {
    a:nth-child(1n+2) {
      padding-left: 10px;
    }
  }
}


@media screen and (max-width: 400px) {
  .font-s-24 {
    font-size: 16px;
  }
//--------------------------------------------------------------------
 .subscribe-1, .subscribe-2, .subscribe-3 {
   padding: 20px 20px 15px 20px;
 }
 .body-subs {
   margin-top: 160px;
 }
  .btn-subs {
    font-size: 12px;
    padding: 20px 80px;
  }
  %subscribes {
    height: 480px;
  }
  .img-news {
    height: 140px;
    width: 280px;
  }
  .btn-news {
    padding: 20px 104px;
  }
  .mobile-img {
    width: 280px;
  }
//-------------------------------------------------------
.card-catalog:nth-child(2n + 1) {
    margin-right: 65px;
}
}


@media screen and (max-width: 340px) {
  .btn-banner-main {
    width: 280px;
  }
  .card-catalog:nth-child(2n + 1) {
      margin-right: 15px;
  }
}


@media screen and (max-width: 300px) {
  .search-box {
    padding: 5px 80px 5px 10px;
  }
//-------------------------------------------------------
}
