@media screen and (max-width: 1020px) {
  .pdg-0-50 {
    padding: 0 30px;
  }
  .height-footer, .low-footer {
    padding: 100px 30px;
  }
//--------------------------------------------------------------------
  .header-nav {
    margin: 0 40px 0 20px;
  }
  .low-nav {
    li:nth-child(1n+2) {
      padding-left: 25px;
    }
  }
}


@media screen and (max-width: 980px) {
  .flex-container {
    flex-flow: column;
  }
//--------------------------------------------------------------------
  .header-areas {
    flex-flow: row wrap;
  }
//--------------------------------------------------------------------
  .form-subscribes {
    flex-flow: row wrap;
    justify-content: center;
  }
  .description-subs {
    max-width: 300px;
  }
  %subscribes {
    flex: 0 1 40%;
  }
  .body-subs {
    padding-top: 160px;
  }
  .img-news {
    order: 1;
    margin-bottom: 20px;
  }
  .news {
    order: 2;
  }
  .btn-news {
    padding: 20px 120px;
  }
  .mobile-img {
  order: -1;
 }
 .btn-dowland {
  padding: 20px 150px;
 }
 .height-footer, .low-footer {
   flex-flow: row wrap;
 }
 .music-track, .track-box, .music-track-name, .cards-box {
   flex-flow: row wrap;
 }
}


@media screen and (max-width: 930px) {
  .header-nav li {
     padding-right: 10px;
   }
//-------------------------------------------------------
  .footer-element {
    flex: 0 1 40%;
    &:nth-child(1n+3) {
      margin-top: 40px;
    }
  }
  }


@media screen and (max-width: 900px) {
  .cards-box {
    justify-content: center;
  }
}


@media screen and (max-width: 829px) {
//--------------------------------------------------------------------
  .header-areas {
    padding: 20px;
  }
//-----------------------------------------------------------------------------------------------------------------------------
.home-banner {
    padding: 150px 20px 90px 20px;
  }
  .pdg-0-50 {
    padding: 0 20px;
  }
  .pdg-50-100-50 {
    padding: 0 20px 100px 20px;
  }
}


@media screen and (max-width: 780px) {
  .form-subscribes {
    flex-flow: column;
  }
  .subscribe-1 {
    margin-right: 0;
  }
  .mobile-text {
    text-align: center;
  }
  .btn-dowland {
   padding: 20px 300px;
  }
}


@media screen and (max-width: 720px) {
  .header-areas {
    justify-content: center;
  }
  .logo-area, .search-area {
    flex: 1 1 40%;
    order: 1;
  }
  .nav-area {
    order: 2;
    margin-top: 20px;
  }
  .header-nav {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding-right: 20px;
    }
  }
  .search-area {
    display: flex;
    justify-content: flex-end;
  }
//--------------------------------------------------------------------
  .btn-dowland {
   padding: 20px 260px;
  }
  .track-box {
    flex: 1 1 100%;
    &:nth-child(2n+1) {
      margin-right: 0;
    }
  }

//-------------------------------------------------------
  .low-footer > p {
    margin-top: 100px;
  }
}


@media screen and (max-width: 660px) {
  .pdg-0-50 {
    padding: 0 20px;
  }
  .height-footer, .low-footer {
    padding: 100px 20px;
  }
//--------------------------------------------------------------------
  .header-nav li {
      padding-right: 7px;
    }
//---------------------------------------------------------------------------------------------------------------------------
  .form-banner {
    grid-template-areas: "name"
                         "email"
                         "button";
  }
  .img-news {
    width: 380px;
  }
  %subscribes {
    flex: 0 1 90%;
  }
  .btn-dowland {
   padding: 20px 220px;
  }
//-------------------------------------------------------
  .low-nav {
    li:nth-child(1n+2) {
      padding-left: 15px;
    }
  }
//-------------------------------------------------------
  .imgs-catalog {
    width: 210px;
  }
}


@media screen and (max-width: 590px) {
  .btn-banner-catalog:nth-child(1) {
      margin-bottom: 20px;
    }
 .card-catalog {
   flex: 0 1 40%;
   padding: 50px 0 0 0;
   &:nth-child(2n + 1) {
   padding: 50px 15px 0 0;
 }
  }
 }

@media screen and (max-width: 550px) {
  .pdg-50-60 {
    padding: 30px;
  }
//-------------------------------------------------------
  .btn-dowland {
   padding: 20px 190px;
  }
//-------------------------------------------------------
  .btn-banner-catalog {
    width: 300px;
  }
  .imgs-catalog {
    width: 180px;
  }
  .card-catalog {
    &:first-child {
      padding: 0 15px 0 0;
    }
    &:nth-child(2) {
    padding: 0;
  }
   }
   .track-box:first-child {
     margin: 0;
   }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 14px;
  }
  .mrg-0-28 {
    margin: 0 20px;
  }
//-------------------------------------------------------
  .additinfo-subs {
    font-size: 16px;
  }
  .btn-news {
    padding: 20px 160px;
  }
  .btn-dowland {
   padding: 20px 150px;
  }
//-------------------------------------------------------
  .footer-element {
    flex: 0 1 100%;
  }
  .footer-element:nth-child(2) {
    margin-top: 40px;
  }
  .low-nav {
    flex-basis: 100%;
    li {
      display: block;
    }
    li:nth-child(1n+2) {
      padding: 25px 0 0 0;
    }
  }
}


@media screen and (max-width: 430px) {
  .catalog-banner {
    padding: 350px 20px 90px 20px;
  }
//-------------------------------------------------------
.btn-news {
  padding: 20px 120px;
}
.imgs-catalog {
  width: 130px;
}
//-------------------------------------------------------
  .networks {
    a:nth-child(1n+2) {
      padding-left: 10px;
    }
  }
}


@media screen and (max-width: 400px) {
  h1 {
   font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
   font-size: 12px;
  }
  .mrg-40-0-30-0 {
    margin: 20px 0 15px 0;
  }
  .mrg-0-28 {
    margin: 0 5px;
  }
  .font-s-60 {
    font-size: 40px;
  }
  .font-s-30 {
    font-size: 20px;
  }
  .font-s-24 {
    font-size: 16px;
  }
//--------------------------------------------------------------------
  .header-areas {
    flex-flow: column;
    align-items: flex-start;
    .search-area, .nav-area {
      margin-top: 20px;
    }
  }
  .logo-area {
    order: 1;
  }
  .search-area {
    order: 2;
  }
  .search-box {
    padding: 5px 110px 5px 10px;
  }
  .nav-area {
    order: 3;
  }
  .header-nav {
    margin: 0;
    li {
      display: block;
      padding: 5px;
    }
  }

//--------------------------------------------------------------------
.home-banner {
  padding: 350px 20px 90px 20px;
}
  .btn-subs {
    font-size: 12px;
    padding: 20px 65px;
  }
  .additinfo-subs {
    font-size: 12px;
  }
  %subscribes {
    height: 480px;
  }
  .img-news {
    height: 210px;
    width: 290px;
  }
  .btn-news {
    padding: 20px 100px;
  }
  .mobile-img {
    width: 200px;
  }
  .btn-dowland {
   padding: 20px 105px;
  }
//-------------------------------------------------------
  .imgs-catalog {
  width: 130px;
}
}


@media screen and (max-width: 340px) {
  .btn-banner-catalog {
    width: 250px;
  }
}


@media screen and (max-width: 300px) {
  .search-box {
    padding: 5px 80px 5px 10px;
  }
//-------------------------------------------------------
  .btn-dowland {
   padding: 20px 70px;
  }
}
