$bg-colors: ("black": #000, "darkgray": #3c3b3d, "limegreen": #34c176, "transparent": rgba(255,255,255, 0.1));
$text-colors: ("primary": #fff);
* {
 box-sizing: border-box;
}
body {
 font-family: Roboto, sans-serif;
 margin: 0;
 line-height: 1.5;
}
h1, h2, h3, h4 {
 margin: 0;
}
h1 {
 font-size: 60px;
}
h2 {
 font-size: 30px;
}
h3 {
 font-size: 18px;
}
.flex-container {
 display: flex;
 justify-content: center;
 align-items: center;
}
.grid-container {
 display: grid; 
}
.absolute {
 position: absolute;
}
.content-center {
 vertical-align: middle;
}
.nav {
 list-style-type: none;
}
.btn {
 border-radius: 5px;
 padding: 15px 20px;
}
.w-270 {
 width: 270px;
}
.pdg-60-0 {
 padding: 60px 0;
}
.pdg-20-0 {
 padding: 20px 0;
}
.font-s-11 {
  font-size: 11px;
}
.mrg-center {
 margin: 0 auto;
}
.mrg-40-0-30-0 {
  margin: 40px 0 30px 0;
}
a:link {
 text-decoration: none;
 color: #fff;
}
@mixin text-color($name-color, $color) {
  .#{$name-color}-color {
   color: $color;
  }
  }
@mixin bg-color($name-color, $color) {  
  .#{$name-color}-bgcolor {
   background-color: $color;
  }
}
@each $name-color, $color in $text-colors {
 @include text-color($name-color, $color);
}
@each $name-color, $color in $bg-colors {
 @include bg-color($name-color, $color);
}
