$bg-colors: ("black": #000);
$text-colors: ("primary": #fff);
* {
 box-sizing: border-box;
}
body {
 font-family: Roboto, sans-serif;
 margin: 0;
}
.flex-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.grid-container {
 display: grid; 
}
.absolute {
 position: absolute;
}
.content-center {
 vertical-align: center;
}
.nav {
 list-style-type: none;
}
.pdg-60-0 {
 padding: 60px 0;
}
.w-70 {
 width: 70%;
}
.mrg-center {
 margin: 0 auto;
}
@mixin text-color($name-color, $color) {
  .#{$name-color}-color {
   color: $color;
  }
  }
@mixin bg-color($name-color, $color) {  
  .#{$name-color}-bgcolor {
   background-color: $color;
  }
}
@each $name-color, $color in $text-colors {
 @include text-color($name-color, $color);
}
@each $name-color, $color in $bg-colors {
 @include bg-color($name-color, $color);
}
