$bg-colors: ("black": #000, "darkgray": #3c3b3d);
$colors: ("primary": #fff, "orange": #f89202, "grey": #555, "light-grey": #8c8c8c);
* {
 box-sizing: border-box;
}
body {
 font-family: Roboto, sans-serif;
 margin: 0;
 line-height: 1.5;
}
h1, h2, h3, h4 {
 margin: 0;
}
h1 {
 font-size: 60px;
}
h2 {
  font-size: 38px;
}
h3 {
 font-size: 30px;
}
h4 {
  font-size: 18px
}
img, img + span {
 vertical-align: middle;
}
.flex-container {
 display: flex;
 justify-content: center;
 align-items: center;
}
.flex-column {
 flex-flow: column wrap;
}
.grid-container {
 display: grid;
 align-items: center; 
}
.absolute {
 position: absolute;
}
.nav {
 list-style-type: none;
}
.btn {
 border-radius: 5px;
 padding: 20px 80px;
 color: #fff;
}
.pdg-60-0 {
 padding: 60px 0;
}
.pdg-0-80 {
 padding: 0 80px;
}
@mixin font-size($size, $unit) {
  .font-s-#{$size} {
   font-size: #{$size}#{$unit};
  }
}
@include font-size(14, px);
@include font-size(24, px);
@include font-size(30, px);
@include font-size(38, px);
@include font-size(60, px);
.text-center {
 text-align: center;
}
.mrg-center {
 margin: 0 auto;
}
.mrg-t-100 {
 margin-top: 100px;
}
.mrg-0-20 {
 margin: 0 20px;
}
.mrg-0-40 {
 margin: 0 40px;
}
.mrg-40-0-30-0 {
  margin: 40px 0 30px 0;
}
.mrg-30-0-80-0 {
 margin: 30px 0 80px 0;
}
.mrg-100-0 {
  margin: 100px 0;
}
.mrg-50-0 {
 margin: 50px 0;
}
a:link {
 text-decoration: none;
 color: #808080;
}
@mixin bg-color($name-color, $color) {  
  .#{$name-color}-bgcolor {
   background-color: $color;
  }
}
@mixin color($name-color, $color) {  
  .#{$name-color}-color {
   color: $color;
  }
}
@each $name-color, $color in $bg-colors {
 @include bg-color($name-color, $color);
}
@each $name-color, $color in $colors {
 @include color($name-color, $color);
}
