$bg-colors: ("violet": #5328a1, "darkorange": #95390c);
$colors: ("orange": #f89202, "grey": #555, "ligthgray": #b8b8b8);
$text-color: #8c8c8c;
$primary-color: #fff;
$active-link-color: #fff;
$btn-form-color: #34c176;
$btn-dowland-color: #ff4157;