$bg-colors: ("black": #000, "darkgray": #3c3b3d, "violet": #5328a1, "darkorange": #95390c);
$colors: ("primary": #fff, "orange": #f89202, "grey": #555, "ligthgray": #b8b8b8);
$text-color: #8c8c8c;
$btn-form-color: #34c176;
$btn-dowland-color: #ff4157;