$bg-colors: ("black": #000, "darkgray": #3c3b3d, "violet": #5328a1, "darkorange": #95390c);
$colors: ("primary": #fff, "orange": #f89202, "grey": #555, "ligthgray": #b8b8b8);
* {
 box-sizing: border-box;
}
body {
 font-family: Roboto, sans-serif;
 margin: 0;
 color: #fff;
 background-color: #08020D;
}
h1, h2, h3, ul, p, hr {
 margin: 0;
 padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.main-title {
 font-size: 60px;
}
.title-block {
  font-size: 38px;
}
.title-body {
 font-size: 30px;
 font-weight: 400;
}
.v-a-middle {
 vertical-align: middle;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.flex-container {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-flow: row wrap;
}
.flex-column {
 flex-flow: column wrap;
}
.grid-container {
 display: grid;
 align-items: center;
}
.btn {
 border-radius: 5px;
 padding: 20px;
 color: #fff;
 border: none;
 background-color: transparent;
}
@mixin font-size($size, $unit) {
  .font-s-#{$size} {
   font-size: #{$size}#{$unit};
  }
}
@include font-size(12, px);
.text-center {
 text-align: center;
}
.mrg-l-68 {
  margin-left: 68px;
}
.mrg-r-68 {
  margin-right: 68px;
}
.mrg-25-0-20-0 {
  margin: 25px 0 20px 0;
}
.mrg-25-0-40-0 {
  margin: 25px 0 40px 0;
}
.mrg-100-0-50-0 {
  margin: 100px 0 50px 0;
}
.mrg-b-25 {
  margin-bottom: 25px;
}
.mrg-b-30 {
  margin-bottom: 30px;
}
.mrg-b-50 {
 margin-bottom: 50px;
}
.mrg-0-21 {
 margin: 0 21px;
}
.mrg-10-0-40-0 {
  margin: 10px 0 40px 0;
}
.active-link {
  color: #fff !important;
}
@mixin bg-color($name-color, $color) {
  .#{$name-color}-bgcolor {
   background-color: $color;
  }
}
@mixin color($name-color, $color) {
  .#{$name-color}-color {
   color: $color;
  }
}
@each $name-color, $color in $bg-colors {
 @include bg-color($name-color, $color);
}
@each $name-color, $color in $colors {
 @include color($name-color, $color);
}
